################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Tag-Address.csv
/File_Opener/x64/Debug
/.vs/File_Opener/FileContentIndex
/.vs/File_Opener/v17
/x64/Debug
/Tag-Address.csv
.vscode/c_cpp_properties.json
.vscode/settings.json
.gitignore
/.vs/File_Opener/CopilotIndices/17.14.1691.21253
/File_Opener/x64/Release
/x64/Release
/LOG.txt
/File_Opener.vcxproj.user
/File_Opener.vcxproj
